body {
  background-color: rgb(20, 20, 20);
  color: white;
}

h1 {
  font-size: 40px;
  text-align: center;
}

.A {
  background-color: #c9b458;
}

.G {
  background-color: #787c7e;
}

.V {
  background-color: #6aaa64;
}
.wordle {
  width: 100%;
  max-width: 375px;
  margin: auto;
}
.cuadrado {
  width: 65px;
  height: 65px;
  font-size: 35px;
  float: left;
  margin: 5px;
  border: 2px solid rgb(140, 140, 140);
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}
.linea {
  width: 100%;
  float: left;
}
/* STYLE INDEX - FIN*/

.listado th,
td {
  text-align: center;
  border: 1px solid rgb(160, 160, 160);
  padding: 10px;
}
